body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

nav {
    margin: 2rem;
    font-size: 1.75rem;
}

nav ul {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 3rem;
    cursor: pointer;
}

.active {
    border-bottom: 2px solid black;
    background-color: #ddd;
}

.title {
    margin: 1rem auto;
    padding: 1rem 0;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Satisfy', cursive;
    text-decoration: underline;
}

.tagline {
    margin: 0 auto 2rem auto;
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
    font-family: 'Balsamiq Sans', cursive;
}

.caption {
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Balsamiq Sans', cursive;
}

.para-div {
    margin: 2rem auto 1rem auto;
    text-align: center;
    max-width: 30%;
}

.para {
    text-align: justify;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.cover-image {
    width: 20rem;
    height: 20rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8rem;
}

.menu-titles {
    padding: 2rem 0;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Satisfy', cursive;
    text-decoration: underline;
}