body {
    font-family: 'Poppins', sans-serif;
}

nav {
    margin: 2rem;
    font-size: 1.75rem;
}

nav ul {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 3rem 0 0;
    cursor: pointer;
}

.active {
    border-bottom: 2px solid black;
    background-color: #FFF9B2;
}

.title {
    margin: 1rem auto;
    padding: 1rem 0;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Satisfy', cursive;
    text-decoration: underline;
    color: #FFCE45;
}

.tagline {
    margin: 0 auto 2rem auto;
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
    font-family: 'Balsamiq Sans', cursive;
}

.para-div {
    margin: 2rem auto 1rem auto;
    text-align: center;
    max-width: 30%;
}

.para {
    text-align: justify;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.cover-image {
    display: block;
    text-align: center;
    width: 20rem;
    height: 20rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8rem;
}

.menu-titles {
    padding: 2rem 0;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Satisfy', cursive;
    text-decoration: underline;
    color: #FFCE45;
}

.menu-divs {
    text-align: center;
    margin: 2rem auto;
}

.menu-images {
    max-width: 200px;
    max-height: 200px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 1rem;
    border: thick solid #FFCE45;
}

.menu-foods {
    padding: 1rem 0;
    font-size: 1.75rem;
    font-weight: 800;
}

.icons {
    font-size: 2.5rem !important;
    color: #FFCE45;
    padding: 0 1rem;
    margin-top: 0.5rem;
}

.contact-para {
    display: flex;
    flex-direction: row;
    margin: 4rem auto;
    text-align: center;
    max-width: 30%;
}

@media screen and (max-width: 992px) {
    .para-div {
        max-width: 45%;
    }

    .contact-para {
        max-width: 45%;
    }
}

@media screen and (max-width: 792px) {
    nav {
        font-size: 1.5rem;
    }

    nav ul li {
        margin: 0 2.5rem 0 0;
    }
    
    .para-div {
        max-width: 55%;
    }

    .contact-para {
        max-width: 55%;
    }

    .contact-para .para{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 592px) {
    nav {
        font-size: 1.3rem;
    }

    nav ul li {
        margin: 0 2rem 0 0;
    }
    
    .para-div {
        max-width: 80%;
    }

    .contact-para {
        max-width: 80%;
        font-size: 0.8rem;
    }

    .contact-para .para{
        font-size: 1rem;
    }
}